@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
  --text-color: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f0f0f;
    --text-color: #efefef;
  }
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* .blur-load {
  background-size: cover;
  background-position: center;
}

.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img{
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
} */
