@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f5f5f5;
  --text-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #f5f5f5;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
